main {
    padding-top: 5rem;
}

.rpe-table {
    max-width: 700px;
}

.small-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
    --bs-tooltip-color: var(--bs-light-text-emphasis)
}

.rpe-info-btn {
    background: none;
	border: none;
	padding: 0;
}